* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #23282d;
}

header {
  width: 100%;
  height: 90px;
  background-color: #61f2f5;
  display: flex;
  justify-content: flex-end;
}

.headerNavegation {
  margin-right: 50px;
  width: 400px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.headerNavegation-items {
  margin-right: 20px;
}

.headerNavegation-items a {
  color: #fff;
  font-size: 45px;
}

.headerWhite {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.headerWhite-logoContainer {
  height: auto;
  margin-left: 40px;
}

.headerWhite-logoContainer img {
  width: 350px;
}

.headerWhite-profile {
  height: auto;
  margin-right: 40px;
  text-align: end;
}

.headerWhite-profile span {
  font-size: 30px;
  border-bottom: 1px solid #23282d;
  color: #23282d;
}

.homepage {
  width: 100%;
  height: calc(100vh - 90px);
  background-image: url(../../assets/images/Cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.homepageNav {
  height: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.homepageNav-logoContainer {
  height: auto;
  margin-left: 40px;
}

.homepageNav img {
  width: 350px;
}

.homepageNav-profile {
  height: auto;
  margin-right: 40px;
  text-align: end;
}

.homepageNav-profile span {
  font-size: 30px;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.homepagePrincipal {
  margin: 0 auto;
  width: 60%;
  height: 70%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.homepagePrincipal h2 {
  height: 50%;
  padding: 40px;
  font-size: 60px;
  text-align: center;
  color: #fff;
}

.homepagePrincipal-btnContainer {
  display: flex;
  justify-content: center;
}

.homepagePrincipal-btnContainer a {
  width: 210px;
  height: 70px;
  background-color: #61f2f5;
  font-size: 24px;
  padding-top: 16px;
  text-align: center;
  color: #23282d;
}

footer {
  width: 100%;
  height: 140px;
}

.footerSup {
  height: 50px;
  background-color: #61f2f5;
}

.footerInf {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23282d;
}

.footerInf span {
  color: #fff;
}

.blogContainer {
  width: 100%;
  height: 450px;
  display: grid;
  justify-content: center;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 10% 90%;
  background-color: #ccd1d9;
}

.blogTitle {
  margin: 0;
  height: 100%;
  padding-top: 10px;
  padding-left: calc((100% - 600px) / 2);
  text-transform: capitalize;
  font-weight: 200;
}

.blog-description1-imgContainer {
  grid-column: 1;
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-description1-imgContainer img {
  max-width: 600px;
}

.blog-description {
  width: 80%;
  height: 80%;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-description h1 {
  font-size: 36px;
  font-weight: 400;
}

.blog-description p {
  font-size: 12px;
  overflow: hidden;
}

.btnblogs {
  width: 100px;
  height: 40px;
  padding-top: 8px;
  background-color: transparent;
  border: 1px black solid;
  border-radius: 2px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.listadoBlogsTitle {
  padding-top: 60px;
  height: 100px;
  border-bottom: 1px solid #23282d;
  text-align: center;
  font-weight: 300;
}

.blogsContainer {
  margin: 20px auto;
  max-width: 1200px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 40px;
  grid-column-gap: 50px;
}

.blogs {
  max-width: 350px;
  height: 350px;
  display: grid;
  justify-content: center;
  grid-template-rows: 2fr 2fr 1fr;
  align-items: center;
}

.blogsContainerImg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogsContainerImg img {
  width: 100%;
}

.blogsTextContainer p {
  font-size: 13px;
}

.blogpost {
  width: 100%;
}

.blogpostImgContainer {
  margin: 0 auto;
  width: 90%;
  height: 350px;
}

.blogpostImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blogpostTextContainer {
  margin: 0 auto;
  width: 60%;
}

.blogspotCategory {
  margin-top: 30px;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #23282d;
  text-transform: capitalize;
  font-weight: 500;
}

.blogspotTitle {
  margin: 20px 0;
  font-size: 40px;
}

.blogspotText {
  margin: 35px 0;
}

.contactFooter {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ccd1d9;
}

.contactContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.contactImgContainer {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactImgContainer img {
  width: 90px;
}

.contactTextsContainer {
  grid-column: 2;
  display: inline;
}

.contactLink {
  cursor: pointer;
}

.contactLink h3 {
  text-transform: capitalize;
  font-weight: 400;
  text-decoration: underline;
}

.contactText {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
}

.aboutMe {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #ccd1d9;
  align-items: center;
}

.aboutMeImgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMeImgContainer img {
  width: 75%;
  height: 60%;
  object-fit: cover;
}

.aboutMeTexts {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.aboutMeTexts h1 {
  font-size: 40px;
  font-weight: 400;
}

.myProjects {
  width: 80%;
  margin: 20px auto;
}

.myProjectsTitle {
  margin: 50px auto 0 auto;
  height: 40px;
  text-align: center;
  font-weight: 400;
  border-bottom: 1px solid #ccd1d9;
}

.myProjectsList {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.projectContainer {
  width: 100%;
  height: 300px;
  padding: 0 30px;
}

.projectContainer h3 {
  margin-bottom: 10px;
  font-weight: 400;
}