header
  ul.headerNavegation
    l1.headerNavegation-items
      a(href="https://www.facebook.com"  target="_blank"  )
        span.flaticon-001-facebook
    l1.headerNavegation-items
      a(href="https://www.twitter.com"  target="_blank" )
        span.flaticon-002-twitter
    l1.headerNavegation-items
      a(href="https://www.instagram.com"  target="_blank" )
        span.flaticon-011-instagram
    l1.headerNavegation-items
      a(href="https://www.linkedin.com"  target="_blank" )
        span.flaticon-010-linkedin
    li.headerNavegation-items
      a(href="https://www.youtube.com"  target="_blank" )
        span.flaticon-008-youtube