h3.listadoBlogsTitle Ultimos blogsposts
section.blogsContainer
  +blogs(blogPrincipalurl, blogsName,blogsText)
  +blogs(blogPrincipalurl, blogsName,blogsText)
  +blogs(blogPrincipalurl, blogsName,blogsText)
  +blogs(blogPrincipalurl, blogsName,blogsText)
  +blogs(blogPrincipalurl, blogsName,blogsText)
  +blogs(blogPrincipalurl, blogsName,blogsText)
  +blogs(blogPrincipalurl, blogsName,blogsText)
  +blogs(blogPrincipalurl, blogsName,blogsText)
  +blogs(blogPrincipalurl, blogsName,blogsText)
