<!DOCTYPE html>
<html>
  <head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/font/flaticon.css">
    <title>Den's Blog</title>
  </head>
  <body>
    <header>
      <ul class="headerNavegation">
        <l1 class="headerNavegation-items"><a href="https://www.facebook.com" target="_blank"><span class="flaticon-001-facebook"></span></a></l1>
        <l1 class="headerNavegation-items"><a href="https://www.twitter.com" target="_blank"><span class="flaticon-002-twitter"></span></a></l1>
        <l1 class="headerNavegation-items"><a href="https://www.instagram.com" target="_blank"><span class="flaticon-011-instagram"></span></a></l1>
        <l1 class="headerNavegation-items"><a href="https://www.linkedin.com" target="_blank"><span class="flaticon-010-linkedin"></span></a></l1>
        <li class="headerNavegation-items"><a href="https://www.youtube.com" target="_blank"><span class="flaticon-008-youtube"></span></a></li>
      </ul>
    </header>
    <div class="headerWhite"><a href="index.html">
        <figure class="headerWhite-logoContainer"><img src="../assets/images/Logo-negro.png" alt="Logo de blog"></figure></a><a class="headerWhite-profile" href="profile.html"><span>Sobre mi</span></a></div>
    <footer>
      <div class="footerSup"></div>
      <div class="footerInf"><span>Hecho por den velez inc</span></div>
    </footer>
  </body>
</html>